@import "../../styles/variables.scss";

.card {
  @include centered-flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow ease-out 0.2s;
  animation: slidein ease-in forwards 1 normal 0.2s;

  .image-container {
    width: 100%;
    height: 100%;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  .title {
    @include centered-flex;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    backdrop-filter: blur(3px);
    user-select: none;
    opacity: 0;
    transition: all ease-in 0.2s;
    background-color: rgba($color: #000000, $alpha: 0.3);
    text-transform: uppercase;
  }
}

.card:hover {
  box-shadow: $loader-color 0px 2px 10px 0px;
  .title {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
